@import url('https://fonts.googleapis.com/css2? family=Lato:wght@100&display=swap');


body{
    background-color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

/*Arranca header*/

header{
    display: flex;
    min-height: auto;
    text-align: center;
    background-color: #EBC9BB;
    font-size: 1.25em;
    width: 100%;
}

.ulrosa{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 1.25em;
    margin: 0px;
}

#lirosa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23vh;
    height: 2.5em;
    padding: 1.75vw;
    margin: 0px;
    border-radius: 2em;
    background-color:#5B8F8F;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    padding: 2vw;
}

/* pantalla */
@media only screen and (max-width: 600px) {
    .ulrosa {
        flex-direction: column;
        align-items: stretch;
    }
    
    #lirosa {
        margin-bottom: 1em;
        width: 100%;
        height: auto;
        padding: 1.75em;
    }
    
    li a {
        padding: 1.6em;
    }
}

/*Arranca main*/

.padre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    background-color: #5B8F8F;
    padding: 1em;
    border-radius: 2em;
}

.barracostado {
    display: flex;
    padding: 3.75em;
    flex-direction: column;
    align-items: center;
    color: white;
}

#canfoto{
    margin: 1.25em;
    max-width: 100%;
    width: 12.438em;
    height: 13.75em;
    border-radius: 50%;
    border: 0.2em solid white;
}

#titulocande{
    font-weight: 700;
    font-size: 1.2em;
}

#estudiante{
    font-weight: 700;
    font-size: 1.2em;
}

#vitae{
    margin: 10px;
    font-weight: 700;
    font-size: 1.6em;    
}

.datos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

/* */
@media only screen and (max-width: 600px) {
    .padre {
        flex-direction: column;
        align-items: stretch;
        margin: 2em;
        padding: 1em;
    }
    
    .barracostado {
        padding: 3.75em;
        margin-bottom: 1em;
    }
    
    #canfoto {
        width: 12.438em;
        height: 13.75em;
    }
    
    #titulocande {
        font-size: 1.2em;
    }
    
    #estudiante {
        font-size: 1.2em;
    }
    
    #vitae {
        font-size: 1.6em;
    }
    
    .datos {
        margin: 1em;
    }
}


#subtitulo{
    width: 25em;
    color: white;
    font-size: 1.3em;
}

#fotosg2{
    width: 34.375em;
    height: 25em;
    border-radius: 0.625em;
    border: 0.063em solid #000000;
    margin: 2em;
    padding: 0px;
}

#textoseparado{
    line-height: 1.7em;
    font-weight: 600;
    font-size: 1em;
}

#h3{
    font-size: 1.2em;
}

a{
    text-decoration: none;
}

/* */
@media only screen and (max-width: 600px) {
    #subtitulo {
        font-size: 1em;
        width: 100%;
        text-align: center;
    }
    
    #fotosg2 {
        width: 100%;
        height: auto;
        margin: 1em 0;
    }
    
    #textoseparado {
        font-size: 1.7em;
    }
    
    #h3 {
        font-size: 1.2em;
    }
}


/*Arranca footer*/

footer{
    background-color: #EBC9BB;
    display: flex;
    justify-content: end;
    margin-top: auto;
    padding: 1em;
}

/* */
@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}








